{% extends 'base.html'%}
{% include '/templates/base.html' %}
{% block title %} Contact - Contact With Us {% endblock %}

{% block body %}

<div class="p-4 my-3 bg-dark text-light">
    <div class="my-3 p-4">
        <form action="/contact" method="POST">
            {% csrf_token %}
            <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="Enter Your Name">
            <div id="emailHelp" class="form-text">We'll never share your data with anyone else.</div>
            </div>
            <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Enter Your Username">
            </div>
            <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter Your Email">
            </div>
            <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password1" placeholder="Enter Your Password">
            </div>
            <div class="mb-3">
            <label for="re-password" class="form-label">Re-Password</label>
            <input type="password" class="form-control" id="re-password" name="password2" placeholder="Enter Re-Password">
            </div>
            <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-outline-success">Submit</button>
        </form>
    </div>
</div>

{% endblock body %}