{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{% static  'css/base.css' %}">
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
    <nav class="navbar">
    <div class="left">
        <h4>iCoder</h4>
    </div>
    <div class="mid">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
        </ul>
    </div>
    <div class="right">
        <form action="/search" method="GET">
            <div class="search">
                <input type="search" name="query" id="query" placeholder="Search">
            </div>
            <div class="right-btn">
                <a href="/login"><input type="button" value="Login"></a>
                <!-- <input type="button" value="Logout"> -->
                <a href="/signup"><input type="button" value="Sign-Up"></a>
            </div>
        </form>
    </div>
    </nav>
    
    {% if messages %}
    {% for message in messages %}
    <div class="header-after-txt">
        <strong>{{message}}</strong>
    </div>
    {% endfor %}
    {% endif %}


    {% block body %}
    
    {% endblock body %}
</body>
</html>