{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% load static %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{% static  'css/home.css' %}">
</head>
<body>
    <section id="f-section">
        <div class="container">
            <h2>Welcome To Our iCoder Home</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ut nostrum obcaecati perferendis nemo adipisci quisquam cum ducimus. Repellat a labore obcaecati voluptates inventore. Aperiam unde consectetur excepturi perferendis exercitationem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia eum, hic itaque iste atque libero doloribus sequi tempore dolor quos?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium delectus sequi nemo, aspernatur voluptatem vitae corrupti non. Obcaecati sunt quaerat ullam distinctio error eum tempore pariatur maiores odit exercitationem delectus quibusdam voluptatem sed quod nisi, quasi dolore! Exercitationem dicta necessitatibus neque iusto, incidunt molestiae eaque iure quos beatae, recusandae delectus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex atque nulla aperiam, aut rem libero nisi fugit sed a doloremque sint ipsum odio deleniti optio ab, excepturi suscipit, maxime eum eos tenetur autem enim totam. Architecto, dolores quas porro dolorum illo minus animi itaque voluptas eveniet dolore aliquid enim ea sint. Ipsum ipsam, libero porro laborum deserunt quidem? Obcaecati modi reiciendis odit, adipisci pariatur in aliquam veritatis dolorum libero, dignissimos officiis tenetur quidem voluptates nobis, debitis cum explicabo nihil ea quasi? Quibusdam perferendis alias placeat rem nemo natus autem laborum voluptatum voluptates beatae, perspiciatis at ipsa harum deserunt quasi assumenda.</p>
            <button class="btn">Read More</button>
        </div>
    </section>
</body>
</html>

{% endblock body %}
