{% extends 'base.html' %}
{% block title %} Blog | Welcome To Blog Home{% endblock title %}

{% block body %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% for blog in blogs %}
    <div class="container m-4">
        <div class="card" style="width: 18rem;">
            <img src="{{blog.img}}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title height-200">{{blog.title}}</h5>
              <p class="card-text">{{blog.content|slice:100}}...</p>
              <a href="{{blog.slug}}" class="btn btn-success">See More...</a>
            </div>
          </div>
    </div>
    {% endfor %}
</body>
</html>

{% endblock body %}