{% extends 'base.html' %}
{% block title %} Home | Welcome{% endblock title %}

{% block body %} 

<div class="container my-4">
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://source.unsplash.com/user/erondu/1600x400/?project,computer,nature">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/user/erondu/1600x400/?coding,webpage,water">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/user/erondu/1600x400/?laptop,employee,projects">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="main-container m-4 p-4">
      <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <h4 id="scrollspyHeading1">What is Blog</h4>
        <p>Do you know what a blog is?
        If you don’t, then you’ve come to the right place. In 1994, when blogs began, a blog was more of a personal diary that people shared online. In this onlinejournal, you could talk about your daily life or share about things that you were doing. Then, people saw an opportunity to communicate information in a newway online. Thus began the beautiful world of blogging.</p>
        <p>What is the purpose of a blog?
        There are many reasons to start a blog for personal use and only a handful of strong ones for business blogging. Blogging for business, projects, oranything else that might bring you money has a very straightforward purpose – to rank your website higher in Google SERPs, a.k.a. increase your visibility.
        As a business, you rely on consumers to keep buying your products and services. As a new business, you rely on blogging to help you get to potentialconsumers and grab their attention. Without blogging, your website would remain invisible, whereas running a blog makes you searchable and competitive.
        So, the main purpose of a blog is to connect you to the relevant audience. Another one is to boost your traffic and send quality leads to your website.
        The more frequent and better your blog posts are, the higher the chances for your website to get discovered and visited by your target audience. This meansthat a blog is an effective lead generation tool. Add a great call to action (CTA) to your content, and it will convert your website traffic intohigh-quality leads. A blog also allows you to showcase your niche authority and build a brand.
        When you use your niche knowledge for creating informative and engaging posts, it builds trust with your audience. Great blogging makes your business lookmore credible, which is especially important if your brand is still young and fairly unknown. It ensures presence online and niche authority at the sametime.</p>
        <h4 id="scrollspyHeading2">What is Python</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam tenetur ratione, at quas dignissimos beatae laborum ipsa, asperiores voluptates repudiandae distinctio accusamus! Possimus consectetur nam, doloremque quis tempora nesciunt ad corrupti optio eum! Corporis, neque. Dolor non reiciendis debitis ipsum eveniet velit ad, saepe voluptate illum quos enim quisquam in beatae, veritatis amet at, quam tempora nobis? Rerum quae similique animi quas placeat voluptas illum id voluptatibus, beatae perspiciatis fuga omnis reprehenderit dolorem repellendus a ipsam doloremque corporis minus pariatur corrupti ut soluta suscipit laborum libero? Sed voluptatem alias recusandae? Earum, optio voluptates quas id repudiandae ab iste nihil eos!</p>
        <h4 id="scrollspyHeading3">Do your about Django</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur eum consectetur quia, repudiandae dolore id sequi error modi praesentium excepturi rem. Eum quaerat molestias corporis dolor tenetur non et placeat nostrum id, laboriosam nobis ducimus omnis fugit minus. Recusandae itaque amet dolorum laudantium! Laboriosam perspiciatis eius similique qui sit unde cupiditate harum rerum, reiciendis molestias illo suscipit laborum nam voluptatibus fugiat, deleniti, obcaecati aut molestiae? Architecto mollitia minus unde aperiam repellat earum velit, reiciendis laborum voluptates eos doloribus! Odio obcaecati molestias laboriosam accusantium distinctio id. Iure a fuga mollitia est vero, omnis error dicta totam excepturi voluptatum nemo ad laboriosam.</p>
        <h4 id="scrollspyHeading4">How to master Django</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error mollitia dolor provident veniam laborum tempore enim, quasi commodi rerum nemo minus? Iusto, quaerat culpa. Cum doloribus rerum nobis enim, alias nostrum quam eligendi iste dolorum pariatur autem recusandae maiores voluptatum perspiciatis asperiores error ullam itaque incidunt perferendis reprehenderit repellat tempora, assumenda necessitatibus dolor? Veniam eius tempore eum maiores fuga perspiciatis, ab, voluptas cupiditate, voluptatem totam incidunt asperiores temporibus numquam quo debitis aliquid et! Reprehenderit nesciunt mollitia alias veniam a error numquam facere necessitatibus aspernatur quibusdam repellat possimus laboriosam, quo ullam quae soluta, itaque quas dignissimos odit eius pariatur non. Iure!</p>
        <h4 id="scrollspyHeading5">How website word</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam ea quod fugiat non. Sed odio sapiente, eos quisquam quos quas reprehenderit animi repellendus, ut pariatur rerum facere laborum eaque eius accusantium porro enim ipsum alias! Cum magnam corrupti exercitationem omnis ratione a consectetur asperiores voluptate quas, reprehenderit quidem repudiandae eius quis! A, deleniti magni! Voluptatibus mollitia dolores, consectetur temporibus eum dolor non a perferendis architecto ullam libero quod, repellendus molestias ex officiis quaerat reprehenderit quidem vel tenetur magnam quasi. Minima quae dolorum molestiae, sapiente eligendi maxime nihil asperiores quisquam distinctio omnis quos. Voluptatem reiciendis fugiat, eveniet esse adipisci sed sit.</p>
      </div>
</div>

{% endblock body %}