{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <!-- <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/utils.css">
    <link rel="stylesheet" href="../css/mobile.css"> -->
    <link rel="stylesheet"  href="{% static 'css/contact.css' %}">
    <link rel="stylesheet"  href="{% static 'css/style.css' %}">
    <link rel="stylesheet"  href="{% static 'css/utils.css' %}">
    <link rel="stylesheet"  href="{% static 'css/mobile.css' %}">
</head>
<body>
    <nav class="navigation max-width-1 m-auto">
        <div class="nav-left">
            <span>iBlog</span>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <form action="/search.html" method="get">
            <input class="form-input" type="text" name="query" id="text" placeholder="Article Search">
            <button class="btn">Search</button>
            </form>
        </div>
    </nav>
    <div class="max-width-1 m-auto"><hr></div>    

    <div class="contact-content font-2">
        <div class="child-contact-content">
        <h2>Fell Free To Contact Us</h2>

        {% if messages %}
        {% for message in messages %}
        <div id="msg-txt">
            <strong>{{message}}</strong>
        </div>
        {% endfor %}
        {% endif %}
        
        <div class="contact-form">
            <form action="/contact" method="post">
                {% csrf_token %}
            <div class="form-box">
                <input type="text" name="username" id="username" placeholder="Enter Your Username">
            </div>
            <div class="form-box">
                <input type="text" name="name" id="name" placeholder="Enter Your Name">
            </div>
            <div class="form-box">
                <input type="email" name="email" id="email" placeholder="Enter Your Email">
            </div>
            <div class="form-box">
                <input type="text" name="phone" id="phone" placeholder="Enter Your Phone">
            </div>
            <div class="form-box">
                <input type="password" name="password1" id="password1" placeholder="Enter Your Password">
            </div>
            <div class="form-box">
                <input type="password" name="password2" id="password2" placeholder="Enter Re Password">
            </div>
            <div class="form-box">
                <textarea name="textarea" id="textarea" cols="30" rows="10" placeholder="Type Your Text"></textarea>
            </div>
            <div class="form-box">
                <button class="btn" type="submit">Submit</button>
            </div>
        </form>
        </div>
    </div>
    </div>

    <div class="footer max-width-2 m-auto">
        Copyright &copy; | iBlog.com
    </div>
</body>
</html>